<header class="h-25 bg-secondary">
  <div class="row w-80 h-100 justify-content-between align-items-center">
    <nav class="bg-primary col-12"></nav>
  </div>
</header>

<section class="h-25 bg-success">
  <div class="row w-80 h-100 justify-content-between align-items-center">
    <div class="cuadrado1 col-5 bg-info"></div>
    <div class="cuadrado1 col-5 bg-info"></div>
  </div>
</section>


<section class="h-25 bg-danger">
  <div class="row w-80 h-100 justify-content-between align-items-center">
    <div class="cuadrado2 col-3 bg-white"></div>
    <div class="cuadrado2 col-3 bg-white"></div>
    <div class="cuadrado2 col-3 bg-white"></div>
  </div>
  
</section>

<footer class="h-25 bg-warning"></footer>